{% extends "base.html" %}
{% load static %}

{% block scripts %}{% endblock %}

{% block title %}About{% endblock %}

{% block content %}
    <!-- Navigation bar -->
    <nav class="navbar navbar-light bg-light">
        <a class="nav-link" href="/">Home Page</a>
    </nav>
    <div class="container-fluid">
        <div class="row"><h1>Predicate Logic Tutor</h1></div>
            <div class="col">
                <h4>What is the Predicate Logic Tutor</h4>
                <p>Predicate Logic Tutor is an interactive web learning tool that can be used to practise first-order logic
                    through visual exercises. Predicate Logic Tutor was built as part of a final year university project.</p>
                <h4>How to get started</h4>
                <p>To get started just head to the exercises page from the homepage.</p>
            </div>
    </div>
    <!-- Copyright -->
    <footer class=" bg-light text-center fixed-bottom">
        <p class="text-dark">© 2021 Copyright: Issa Kebe</p>
    </footer>
{% endblock %}
