{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}Exercises{% endblock %}

{% block content %}
    <!-- Navigation bar -->
    <nav class="navbar navbar-light bg-light">
        <a class="nav-link" href="/">Home Page</a>
    </nav>
    <!-- Main content -->
    <div class ="container-fluid">
        <div class="page-header">
            <h1 class="text-center p-2">{{ question.title }}</h1>
            <h6>Select the logic formula that evaluates to true according to the following diagram.</h6>
            <p class="font-weight-bold">Difficulty Level: {{ question.difficulty }}</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg">
               <img src="data:image/png;base64,{{ graphic|safe }}" class = "img-fluid" alt="Exercise diagram">
                <a id="skip-exercise-button" class="align-content-center btn btn-info" href="/exercise/">Skip Exercise</a>
            </div>
            <div class="col align-self-center mt-10">
                <!-- Answers -->
                <div class="answers">
                    <p>Select one from of the following formulas:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" Name="answer" id="answer1" Value={{answers.0.1}}>
                        <label class="form-check-label" id="answer1-label" for="answer1">1. {{ answers.0.0 }}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" Name="answer" ID="answer2" Value={{answers.1.1}}>
                        <label class="form-check-label" id="answer2-label" for="answer2">2. {{ answers.1.0 }}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" Name="answer" ID="answer3" Value={{answers.2.1}}>
                        <label class="form-check-label" id="answer3-label" for="answer3">3. {{ answers.2.0 }}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" Name="answer" ID="answer4" Value={{answers.3.1}}>
                        <label class="form-check-label" id="answer4-label" for="answer4">4. {{ answers.3.0 }}</label>
                    </div>
                    <hr class="mt-3 mb-3 border-0">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmAnswerModal">
                      Submit Answer
                    </button>
                    <a class="btn btn-info" href="/help/" target="_blank" rel="noopener noreferrer">Help</a>

                    <!-- Modal -->
                    <div class="modal fade" id="confirmAnswerModal" tabindex="-1" role="dialog" aria-labelledby="confirmAnswerModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="confirmAnswerModal">Confirm answer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">Are you sure you would like to submit this answer?</div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" id="confirm-answer-button" class="btn btn-success">Confirm</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}