{% extends "base.html" %}

{% block title %}Help{% endblock %}
{% block content %}
        <!-- Navigation bar -->
    <nav class="navbar navbar-light bg-light">
        <a class="nav-link" href="/">Home Page</a>
    </nav>
    <div class="container-fluid">
        <h1>Help</h1>
        <p>
            <strong>Definitions:</strong>
            <ul>
                <li>Predicate: A predicate takes an entity or entities in the domain of discourse
                    as input and outputs either True or False.</li>
                <li>Quantifiers: Can be applied to variables in a formula to express propositions
                    involving entire sets of objects.</li>
                <li>Domain:  Also known as universe is a set of all the entities of a model that can instantiate the
                    variables and is usually required to not be empty.
                    things which we plan to talk about when we make formal propositions.</li>
                <li>Model: Also known as an interpretation, specifies what each predicate means
                    and the entities that can instantiate the variables.</li>
            </ul>

            <strong>Symbols:</strong><br>
            <ul>
                <li>∀ - Universal quantifier</li>
                <li>∃ - Existential quantifier</li>
                <li>∧ - conjunction</li>
                <li>∨ - disjunction</li>
                <li>→ - implication</li>
                <li>↔ - biconditional</li>
                <li>¬ - negation</li>
                <li>= - equality</li>
                <li>Variables - can be any lowercase letter.</li>
                <li>Constants - can be any uppercase letter.</li>
            </ul>


            <strong>Convention:</strong><br>
            <ol>
                <li>¬ is evaluated first.</li>
                <li>∧ and ∨ are evaluated next.</li>
                <li>Quantifiers are evaluated next.</li>
                <li>→ is evaluated last.</li>
            </ol>
        </p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </div>
{% endblock %}