{% extends "base.html" %}

{% load static %}

{% block scripts %}{% endblock %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="jumbotron min-vh-100 text-center m-0 bg-white d-flex flex-column justify-content-center">
                <h1 class="display-4">Welcome!</h1>
                <p class="lead">Get started with the logic tutor</p>
                <p class="lead">
                    <a class= "btn btn-primary btn-lg" href="exercise/">Exercises</a>
                    <a class= "btn btn-primary btn-lg" href="about/">About</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}